body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
}

h1, h2 {
    color: #333;
}

a:hover {
    background-color: #3c3b3b;
}

.selected {
    background-color: #e54c08;
}

.selected:hover {
    background-color: #c53f06;
}