header {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background: linear-gradient(to top, #FFD700, black);}

header h1 {
    color: white;
}

header img {
    height: 140px;
    padding-left: 20%;
    transition: 1s;
}

header img:hover {
    transform: scale(1.10);
    transition: transform 1s; 
}

header nav {
    display: flex;
    gap: 20px;
    font-family: Arial, sans-serif;
}


header nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease, transform 0.3s ease;
    transform: perspective(1px);
    font-size: 30px;
    font-family: 'Badaboom'; 
}

/* Efecto al pasar el cursor */
header nav a:hover {
    color: hsl(59, 100%, 55%); 
    transform: scale(1.15);
}



main {
    margin-right: 70px;
    margin-left: 70px;
}

/* Aplicamos estilos al video */
.styled-video {
    width: 100%; 
    max-width: 800px; 
    height: auto; 
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 10px 80px rgba(0, 0, 0, 0.2); 
    margin: 20px auto; 
    display: block; 
}


main .video{
    padding: 20px;
    text-align: center;
}

main .video video {
    width: 100%;
    max-width: 1000px; 
}


/* Estilo grid para 8 fotos */
.Fotos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 30px;
}
    
.Fotos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    position: relative;
    text-align: center;
}
    

.Fotos img{
    width: 340px;
    height: 340px;
    border-radius: 20px;
    transition: transform 1s;
}

.Fotos img:hover{
    transform: scale(1.10);
    transition: transform 1s; 
    /* Aplicamos sombra*/
    box-shadow: 0 10px 80px rgba(208, 255, 0, 1);
    opacity: 0.8;
}



/* Estilos footer */
footer{
    margin-top: 50px;    
}


footer div a img{
    transition: transform 1s;
    padding: 10px;

}

footer div a img:hover{
    transition: transform 1s;
    transform: scale(1.15) rotate(360deg);

}

/* Escritorio */
@media (min-width: 1200px){
    .Fotos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin-top: 30px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1199px) {
    .Fotos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin-top: 30px;
    }

    header {
        height: 20%;
        display: flex;
        flex-direction: column;
    }
    
    header h1 {
        color: white;
    }
    
    header img {
        height: 140px;
        padding-left: 1%;
        transition: 1s;
    }
}

/* Movil */
@media (max-width: 767px) {
    .Fotos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin-top: 30px;
    }

    header {
        height: 20%;
        display: flex;
        flex-direction: column;
    }
    
    header h1 {
        color: white;
    }
    
    header img {
        height: 140px;
        padding-left: 1%;
        transition: 1s;
    }
}
