/* Para evitar posibles errores y atascos */
body, html {
    margin: 0; /* Elimina el margen del body y html */
    padding: 0; /* Elimina el padding del body y html */
    width: 100%; /* Asegura que el body y html ocupen todo el ancho */
    height: 100%; /* Asegura que el body y html ocupen todo el alto */
}


/* Estilos de header y nav: */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    background-color: black;
    padding: 20px; 
    width: 100%; 
    height: 100px; 
    top: 0; 
    left: 0; 
    position: fixed; 
    z-index: 1000;
    color: white; 
    box-sizing: border-box; 
    margin: 0; 
}

header img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

header h1 {
    margin: 0;
}

header nav {
    margin-left: auto;
}

header nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease, transform 0.3s ease;
    transform: perspective(1px);
    font-size: 20px;
    font-family: 'Badaboom'; 
    margin-right: 20px; 
}

main {
    background-color: black;
}






/* Estilos de Presentacion */

.Presentacion {
    padding-top: 100px;
    padding: 10%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/american-standard-code-rhcc9ev19nykgsdw.jpg') no-repeat center center;
    background-size: cover;
    background-position: center; 
    text-align: center; 
    color: white;
}

.Presentacion h2, .Presentacion p {
    margin: 0;
    padding: 10px;
}

.tituloYTexto{
    padding: 20px;
    border-radius: 9px; 
    font-size: 20px;
    font-family: 'Badaboom'; 
    color: white;
}

/* Estilos formulario */
 
section {
    width: 50%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

form div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 15px; /* Espaciado entre el label y el input */
}

form label {
    font-weight: bold;
    color: white;
    width: 30%; /* Ajusta el tamaño del label */
    text-align: left;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 65%; /* Ajusta el tamaño del input */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form textarea {
    height: 150px;
    resize: none;
}

.Enviar {
    background-color: #4e4e4e;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Estilos footer */

footer{
    background-color: black;
    color: white;
    text-align: right;
    padding: 20px;
    bottom: 0;
}

footer .footerIcons a img{
    width: 50px;
    height: 50px;
}

