body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-color: #f0f0f0; 
    color: #333; 
}

.card-container {
    width: 100%; 
    height: 100%; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-top: 300px;
}

.targeta1, .targeta2, .targeta3 {
    width: 300px; 
    height: 200px; 
    background: linear-gradient(to top, #FFD700, #353434); /* Degradado de dorado a negro en el fondo */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 10px; 
    border-radius: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra alrededor de tarjetas */
    text-align: center; 
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* Transición suave para transformaciones y sombras */
}

.targeta1:hover, .targeta2:hover, .targeta3:hover {
    transform: scale(1.1) rotateY(10deg); /* Agrandamos la tarjeta y aplicamos rotación */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* Aumentamos sombra para dar efecto de profundidad */
}

.targeta1 h2, .targeta2 h2, .targeta3 h2 {
    color: #fff; 
    transition: color 0.5s ease, transform 0.5s ease; /* Transición suave para color y transformación de texto */
}

.targeta1:hover h2, .targeta2:hover h2, .targeta3:hover h2 {
    color: #FFD700; 
    transform: scale(1.1); 
}